<style>
.collection-product {
  display: block;
  border: solid rgb(210 215 222 / 75%) 1px ;
  border-radius: 20px;
  padding: 10px;
}

.collection-product img {
  width: 100%;
}

.size {
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
}

.name {
  color: orange;
  padding: 40px 0;
}

#plush {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 2px;
}

#plush2 {
  margin-bottom: 0;
  margin-top: 2px;
} 

.pspace {
  margin: 0;
}

#ptop {
  margin: 0;
}

.ppadding {
  margin: 0;
}

#viewdetails {
  width: 250px;
  border: solid 1px;
  border-radius: 50px;
  padding: 5px 50px;
  margin-left: 50px;
  text-align: center;
}

#form {
  margin-left: 140px;
  margin-bottom: 0;
}

.price {
  margin-left:140px;
  font-weight: bolder;
  margin-top: 0;
}
</style>


<a href="{{product.url}}" class="collection-product card-wrapper product-card-wrapper underline-links-hover">
  <h2>{{product.title}}</h2>
  <p>Foam mattress</p>
  
  {%- if product.featured_media -%}
  <div class="quick-add__product-media">
    <div class="quick-add__product-container global-media-settings">
      <img
        srcset="
          {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
        "
        src="{{ product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ product.featured_media.alt | escape }}"
        class="motion-reduce"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
      >
    </div>
  </div>
  {%- endif -%}

  <section>
    <div class="size name">
      <p id="plush">PLUSH</p>
      <p id="plush2">({{product.metafields.custom.mattress_firmness.value}} out of 10)</p>
    </div>

  
    <div class="size">
      <p class="pspace">图标</p>
      <p class="pspace num"><b>{{ product.metafields.custom.mattress_firmness.value }}</b></p>
      <p class="pspace">Layers</p>
    </div>

    <div class="size">
      <p class="pspace">图标</p>
      <p class="pspace num"><b>{{product.metafields.custom.mattress_height.value}}</b></p>
      <p class="pspace">Height</p>
    </div>
  </section>

  <div id="">
    <p id="ptop">-3 layers of engineered comfort</p>
    <p class="ppadding">-3 layers of engineered comfort</p>
  </div>

  <p id="form">From</p>
  <p class="price">${{- product.selected_or_first_available_variant.price | money_without_currency -}}</p>
</a>