{% comment %}
  Renders a compare product

  Accepts:
  - compare_product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
<article class="grid__item">
  <div>{{ compare_product.tags }}</div>
  {{
    compare_product.images[0]
    | image_url: width: 500
    | image_tag: class: 'header__heading-logo', alt: childlink.title, preload: true
  }}
  <div>
    <h3>{{ compare_product.title }}</h3>
    <p>{{ compare_product.selected_or_first_available_variant.price | money_with_currency }}</p>
  </div>

  <div>
    <h4>Comfort Level</h4>
    <p>{{ compare_product.metafields.custom.comfort_level }}</p>
  </div>

  <div>
    <h4>Firmness Level</h4>
    {{- 'firmless-level.svg' | inline_asset_content -}}
  </div>

  <div>
    <h4>Ideal Sleep Position</h4>
    <p>Best for Side Sleepers: Provides excellent cushioning for shoulders and hips.</p>
  </div>

  <a href="{{ compare_product.url }}" class="button button--primary">Shop Now</a>
</article>
