{% assign product = product.metafields.custom.discount_product.value.product.value %}
{% if product %}
  <div class="discount-product">
    <div class="discount-product-header">SAVE 25% on {{ product.title }} with mattress purchase</div>
    <div class="discount-product-content grid grid--1-col-tablet grid--2-col-desktop">
      <div class="grid__item">
        {{ product.images[0] | image_url: width: 250 | image_tag: class: 'product-image', alt: product.title }}
      </div>
      <div class="grid__item">
        <h4>{{ product.title }}</h4>
        <div class="product-variants">
          {% for variant in product.variants %}
            <div class="variant" id="{{variant.title| replace: " ", "-" }}" data-variant-id="{{ variant.id }}">
              <div>{{ variant.title }}</div>
              <div>{{ variant.price | money }}</div>
            </div>
          {% endfor %}
          <button class="button" id="add-discount-product">Add</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    .discount-product {
      border: 1px solid #272c48;
      border-radius: 10px;
    }
    .discount-product-header {
      padding: 10px 20px;
      border-bottom: 1px solid #272c48;
      color: #272c48;
    }
    .discount-product-content {
      padding: 20px;
    }
    .product-image {
      width: 100% !important;
    }
    .discount-product .variant {
      display: none;
    }
    .discount-product .variant.selected {
      display: block;
    }
  </style>
  <script>
    function showDiscountVariant(variant) {
      const variantElement = document.querySelector('.variant#' + variant.replace(' ', '-'));
      if (variantElement) {
        const variantElements = document.querySelectorAll('.variant');
        for (let i = 0; i < variantElements.length; i++) {
          variantElements[i].classList.remove('selected');
        }
        variantElement.classList.add('selected');
      }
    }

    async function addDiscountProduct() {
      const discountProduct = document.querySelector('.variant.selected');
      const discountProductId = discountProduct.dataset.variantId;
      const items = [{ id: discountProductId, quantity: 1 }];
      const response = await fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ items }),
      });
      const data = await response.json();
      const cart = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
      cart.renderContents(data.items[0]);
    }

    const addDiscountProductButton = document.querySelector('#add-discount-product');
    if (addDiscountProductButton) {
      addDiscountProductButton.addEventListener('click', addDiscountProduct);
    }

    function bindEventListener() {
      const mainProductVariantSelector = document.querySelector('.select__select');
      let currentVariant = mainProductVariantSelector.value;
      showDiscountVariant(currentVariant);

      mainProductVariantSelector.addEventListener('input', (event) => {
        const selectedVariant = event.target.value;
        showDiscountVariant(selectedVariant);
        setTimeout(() => {
          bindEventListener();
        }, 1000);
      });
    }

    bindEventListener();
  </script>
{% endif %}
