{% assign free_gifts = product.metafields.custom.free_gifts.value %}
{% if free_gifts %}
  {% assign free_gifts_total_price = 0 %}
  <section class="gift-card-section">
    <h2 class="free-gift-title">Free Gift</h2>
    <div class="gift-card-list-container">
      <div class="gift-card-list">
        {% for product in free_gifts.gift_products.value %}
          {% assign product_price = product.variants[0].price %}
          {% assign free_gifts_total_price = free_gifts_total_price | plus: product_price %}
          <div class="gift-card-item flex">
            {{
              product.images[0]
              | image_url: width: 110, height: 110
              | image_tag: class: '', alt: product.title, preload: true
            }}
            <div style="padding: 5px;">
              <h3 class="item-title">{{ product.title }}</h3>
              <div class="select product-form__input">
                <select class="select__select free-gift-selector">
                  {% for option in product.variants %}
                    <option value="{{ option.id }}">{{ option.title }}</option>
                  {% endfor %}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="free-gift-total flex justify-between items-center">
        <div class="flex items-center"><span class="product-add-on-dot"></span>Free with Mattress</div>
        <div>
          Value of <span style="color:#F9522E;text-decoration:line-through;">{{ free_gifts_total_price | money }}</span>
        </div>
      </div>
    </div>
  </section>
  <style>
    .product-add-on-dot {
      display: inline-block;
      background-color: #f9522e;
      border: 5px solid #ccc;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .free-gift-title {
      background-color: #272c48;
      color: #f9dcbe;
      font-size: 21px;
      width: 185px;
      text-align: center;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      margin-bottom: 0;
    }
    .gift-card-list-container {
      border-radius: 0 10px 10px 10px;
      border: 1px solid #272c48;
      display: flex;
      flex-direction: column-reverse;
    }
    .free-gift-total {
      padding: 10px 20px;
      border-bottom: 1px solid #272c48;
    }
    .gift-card-list {
      display: flex;
      gap: 20px;
      padding: 20px;
    }
    .gift-card-item .item-title {
      text-decoration: none;
      margin: 0;
    }
    .gift-card-item img {
      /* width: 100%;
      height: auto; */
      border-radius: 10px;
    }
  </style>
{% endif %}
