<style>
  .layer-heading {
    font-size: 30px;
    color: #272c48;
    text-align: center;
    font-weight: bold;
  }
  #layer-image-container {
    position: relative;
  }
  #layer-image-container .layer-point {
    position: absolute;
    left: 45%;
  }
  .layer-point {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    line-height: 10px;
    border: 1px solid;
    cursor: pointer;
  }
  .layer-point.active {
    background-color: #fa522d;
    color: white;
  }
  #layer-point1 {
    top: 70px;
  }
  #layer-point2 {
    top: 200px;
  }
  #layer-point3 {
    top: 270px;
  }
  #layer-point4 {
    top: 340px;
  }
  .layer-items {
    padding: 5rem;
  }
  .layer-item {
    margin-bottom: 10px;
    column-gap: 10px;
  }
  .layer-title {
    margin: 0;
    font-weight: bold;
    color: #343a40;
    font-size: 20px;
  }
  .layer-desc {
    margin-top: 0;
    color: #272c48;
    display: none;
    margin-bottom: 0;
  }
</style>

{% assign mattressLayer = product.metafields.custom.mattress_layer.value %}
{% assign layerItems = mattressLayer.layer_items.value %}

<div class="page-width scroll-trigger animate--slide-in">
  <h2 class="layer-heading">Engineered for Lasting Comfort</h2>
  <div class="flex items-center">
    <div id="layer-image-container" style="width: 50%;">
      {% assign layer_points = '1,2,3,4' | split: ',' %}
      {% for point in layer_points %}
        <div class="layer-point {% if point == '1' %} active {% endif %}" id="layer-point{{ point }}">{{ point }}</div>
      {% endfor %}
      {{
        mattressLayer.layer_image.value
        | image_url: width: 600
        | image_tag: class: 'motion-reduce w-full', preload: true
      }}
    </div>
    <div class="layer-items" style="width: 50%;">
      {% for layerItem in layerItems %}
        {% assign index = forloop.index %}
        <div class="layer-item flex">
          <div>
            <div id="layer-item{{ index }}" class="layer-point {% if index == 1 %} active {% endif %}">
              {{ index }}
            </div>
          </div>
          <div>
            <h5 class="layer-title">{{ layerItem.layer_title }}</h5>
            <p class="layer-desc {% if index == 1 %} block {% endif %}" id="layer-desc{{index}}">
              {{ layerItem.layer_description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    const layerPoints = document.querySelectorAll('.layer-point');

    layerPoints.forEach((point) => {
      point.addEventListener('click', function () {
        layerPoints.forEach((point) => {
          point.classList.remove('active');
        });

        const id = this.innerText;
        document.querySelector(`#layer-point${id}`).classList.add('active');
        document.querySelector(`#layer-item${id}`).classList.add('active');

        document.querySelectorAll('.layer-desc').forEach((desc) => desc.classList.remove('block'));
        document.querySelector(`#layer-desc${id}`).classList.add('block');
      });
    });
  });
</script>
