<style>
  .layer-heading {
    font-size: 30px;
    color: #272c48;
    text-align: center;
    font-weight: bold;
  }
  #layer-image-container {
    position: relative;
  }
  .layer-point {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    line-height: 10px;
    border: 1px solid;
    cursor: pointer;
  }
  .layer-point.active {
    display: block;
    background-color: #fa522d;
    color: white;
  }
  .layer-items {
    padding: 5rem;
  }
  .layer-item {
    margin-bottom: 10px;
    column-gap: 10px;
  }
  .layer-title {
    margin: 0;
    font-weight: 400;
    color: #343a40;
    font-size: 20px;
  }
</style>

{% assign layerItems = product.metafields.custom.mattress_layer_specs.value %}
{% assign layer_image = product.metafields.custom.construction_materials.value %}

<div class="page-width scroll-trigger animate--slide-in">
  <h2 class="layer-heading">Engineered for Lasting Comfort</h2>
  <div class="grid grid--1-col-tablet-down grid--2-col-desktop justify-center">
    <div id="layer-image-container" class="grid__item">
      {% comment %} {{ layer_image.value | image_url: width: 600 | image_tag: class: 'w-full', preload: true }} {% endcomment %}

      <img
        srcset="
          {%- if layer_image.width >= 165 -%}{{ layer_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if layer_image.width >= 360 -%}{{ layer_image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if layer_image.width >= 533 -%}{{ layer_image | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if layer_image.width >= 720 -%}{{ layer_image | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if layer_image.width >= 940 -%}{{ layer_image | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if layer_image.width >= 1066 -%}{{ layer_image | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ layer_image | image_url }} {{ layer_image.width }}w
        "
        src="{{ layer_image | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ layer_image.alt | escape }}"
        class="motion-reduce"
        style="width: 100%"
        loading="lazy"
      >
    </div>
    {% comment %}
      <div class="layer-items grid__item">
        {% for layerItem in layerItems %}
          <div class="layer-item flex">
            <div>
              <div class="layer-point active"></div>
            </div>
            <h5 class="layer-title">{{ layerItem }}</h5>
          </div>
        {% endfor %}
      </div>
    {% endcomment %}
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    const layerPoints = document.querySelectorAll('.layer-point');

    layerPoints.forEach((point) => {
      point.addEventListener('click', function () {
        layerPoints.forEach((point) => {
          point.classList.remove('active');
        });

        const id = this.innerText;
        document.querySelector(`#layer-point${id}`).classList.add('active');
        document.querySelector(`#layer-item${id}`).classList.add('active');

        document.querySelectorAll('.layer-desc').forEach((desc) => desc.classList.remove('block'));
        document.querySelector(`#layer-desc${id}`).classList.add('block');
      });
    });
  });
</script>
