{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {% comment %}
      {%- if section.settings.heading != blank -%}
        <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {%- else -%}
        <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
    {% endcomment %}
    <h2>Ready to Design Your Mattress?</h2>
    <p>
      Let’s build the perfect mattress for you! Complete the form below, and our team will contact you with a
      personalized quote and guide you through the customization process.
    </p>
    <h2>Get a Quote for Your Custom Mattress</h2>
    <p>
      Fill out the form below to start designing your custom mattress. We’ll review your details and reach out with a
      quote.
    </p>
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {{- 'icon-success.svg' | inline_asset_content -}}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {{- 'icon-error.svg' | inline_asset_content -}}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            aria-required="true"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <input
          type="tel"
          id="ContactForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <input
          type="tel"
          id="ContactForm-address"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.address' | t }}]"
          value="{% if form.address %}{{ form.address }}{% elsif customer %}{{ customer.address }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.address' | t }}"
        >
        <label class="field__label" for="ContactForm-address">{{ 'templates.contact.form.address' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-firmness"
          class="field__input"
          name="contact[{{ 'templates.contact.form.firmness' | t }}]"
          value="{% if form.firmness %}{{ form.firmness }}{% elsif customer %}{{ customer.firmness }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.firmness' | t }}"
        >
          <option>Plush</option>
          <option>Medium</option>
          <option>Medium-Firm</option>
          <option>Firm</option>
          <option>Extra-Firm</option>
        </select>
        <label class="field__label" for="ContactForm-firmness">{{ 'templates.contact.form.firmness' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-shape"
          class="field__input"
          name="contact[{{ 'templates.contact.form.shape' | t }}]"
          value="{% if form.shape %}{{ form.shape }}{% elsif customer %}{{ customer.shape }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.shape' | t }}"
        >
          <option>Standard Rectangle</option>
          <option>Round</option>
          <option>Oval</option>
          <option>Heart</option>
          <option>Custom Shape</option>
        </select>
        <label class="field__label" for="ContactForm-shape">{{ 'templates.contact.form.shape' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-size"
          class="field__input"
          name="contact[{{ 'templates.contact.form.size' | t }}]"
          value="{% if form.size %}{{ form.size }}{% elsif customer %}{{ customer.size }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.size' | t }}"
        >
          <option>Twin</option>
          <option>Full</option>
          <option>Queen</option>
          <option>King</option>
          <option>Custom size</option>
        </select>
        <label class="field__label" for="ContactForm-size">{{ 'templates.contact.form.size' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-thickness"
          class="field__input"
          name="contact[{{ 'templates.contact.form.thickness' | t }}]"
          value="{% if form.thickness %}{{ form.thickness }}{% elsif customer %}{{ customer.thickness }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.thickness' | t }}"
        >
          <option>Low-Profile</option>
          <option>Standard</option>
          <option>Thick</option>
          <option>Extra Thick</option>
        </select>
        <label class="field__label" for="ContactForm-thickness">{{ 'templates.contact.form.thickness' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-material"
          class="field__input"
          name="contact[{{ 'templates.contact.form.material' | t }}]"
          value="{% if form.material %}{{ form.material }}{% elsif customer %}{{ customer.material }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.material' | t }}"
        >
          <option>Memory Foam</option>
          <option>Latex</option>
          <option>Hybrid</option>
          <option>Organic</option>
        </select>
        <label class="field__label" for="ContactForm-material">{{ 'templates.contact.form.material' | t }}</label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-comfortlayer"
          class="field__input"
          name="contact[{{ 'templates.contact.form.comfortlayer' | t }}]"
          value="{% if form.comfortlayer %}{{ form.comfortlayer }}{% elsif customer %}{{ customer.comfortlayer }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.comfortlayer' | t }}"
        >
          <option>Pillow-Top</option>
          <option>Gel-Infused Foam</option>
          <option>Zoned Support</option>
          <option>None</option>
        </select>
        <label class="field__label" for="ContactForm-comfortlayer">
          {{- 'templates.contact.form.comfortlayer' | t -}}
        </label>
      </div>

      <div class="field">
        <select
          type="tel"
          id="ContactForm-coverfabric"
          class="field__input"
          name="contact[{{ 'templates.contact.form.coverfabric' | t }}]"
          value="{% if form.coverfabric %}{{ form.coverfabric }}{% elsif customer %}{{ customer.coverfabric }}{% endif %}"
          aria-required="true"
          placeholder="{{ 'templates.contact.form.coverfabric' | t }}"
        >
          <option>Breathable Cotton</option>
          <option>Organic Wool</option>
          <option>Cooling Fabric</option>
          <option>Other (please specify)</option>
        </select>
        <label class="field__label" for="ContactForm-coverfabric">
          {{- 'templates.contact.form.coverfabric' | t -}}
        </label>
      </div>

      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
